# .gitignore

# Cache
*.cache
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Uploads (nếu có)
public/uploads/*
!public/uploads/.gitkeep

# Vendor libraries
public/admin/vendor/
public/client/js/jquery*
public/client/js/bootstrap*